body {
    margin: 0;
    background: #111;
}
.header {
    width: 100%;
    height: 60px;
    position: fixed;
    background: #373737;
}
.header-heading{
    padding-top: 9px;
    padding-left: 80px;
}
.header-heading-pic-container {
    float: left;
}
.header-heading-text-container {
    float: left;
    color: white;
    font-weight: bolder;
    padding-left: 15px;
    font-size: 35px;
    font-family: "Century Gothic";
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
.header-nav {
    display: flex;
    padding-left: 88.7px;
    margin-top: 8.7px;
}
.header-nav-element {
    background: #4f7faf;
    margin: 5px;
    color: #f4f4f4;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 10px;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
.header-nav-element:hover {
    background: #6f9fcf;
    cursor: pointer;
}
.header-nav-element:active {
    background: #2a6db7;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    margin-top: 60px;
    overflow-x: scroll;
    overflow-y: scroll;
    background: #1c1c1c;
}

.sidebar-head {
    display: flex;
    width: 100%;
    height: 100px;
}

.sidebar-write-button {
    width: 180px;
    height: 40px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    color: #f4f4f4;
    background: #4f7faf;
    box-shadow: 2px 2px 10px #111111;
    font-size: 15px;
    font-weight: bolder;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
.sidebar-write-button:hover {
    background: #6f9fcf;
    cursor: pointer;
}
.sidebar-write-button:active {
    background: #2a6db7;
}
.sidebar-write-button:focus {
    outline: none;
}
.sidebar-write-button-img-container {
    float: left;
    padding-top: 1px;
}
.sidebar-write-button-text-container {
    float: left;
    padding-left: 8px;
    padding-top: 4px;
}
.mailbox-container {
    position: absolute;
    margin-top: 75px;
    margin-left: 315px;
    width: 75vw;
    height: 82vh;
    background: #373737;
    border-radius: 10px;
    border: 5px solid #1c1c1c;
    overflow-y: scroll;
}
.mailbox {
    width: 100%;
    height: 100%;
}
#selectAllButton {
    margin-left: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.mailbox-control-panel {
    border: 10px solid #1c1c1c;
}
.mailbox-inside-element {
    width: 100%;
    height: 40px;
}
.mailbox-element-button {
    background: #373737;
    width: 100%;
}
.mailbox-element-button:hover {
    background: #3c3c3c;
}
.mailbox-element-button:focus {
    outline: none;
}
.vr {
    float: left;
    margin-top: 7px;
    width: 1px;
    height: 25px;
}
.mailbox-inside-element-checkbox {
    float: left;
    margin-top: 12.9px;
    margin-left: 15px;
    margin-right: 15px;
}
.mailbox-inside-element-from {
    float: left;
    color: #f4f4f4;
    text-decoration: none;
    margin-left: 15px;
    width: 200px;
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
}
.mailbox-inside-element-topic {
    float: left;
    color: #f4f4f4;
    text-decoration: none;
    margin-left: 15px;
    width: 500px;
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
}
.mailbox-inside-element-time {
    float: left;
    color: #f4f4f4;
    text-decoration: none;
    margin-left: 15px;
    width: 146px;
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
}
.sidebar-folders-navigation-container {
    width: 300px;
    height: 400px;
    display: flex;
}
.sidebar-folders-navigation {
    background: #111111;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 4px solid #3c3c3c;
    border-radius: 5px;
    -ms-scrollbar-base-color: #1c1c1c;
    -ms-scrollbar-track-color: #1c1c1c;
    -ms-scrollbar-arrow-color: #1c1c1c;
    color: #f4f4f4;
}
.sidebar-folders-navigation-list li {
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 15px;
    background: #373737;
    width: 140px;
    height: 26.7px;
    padding-top: 8px;
    border-radius: 5px;
}
.sidebar-folders-navigation-new-folder-container {
    width: 300px;
    height: 90px;
    display: flex;
}
.sidebar-folders-navigation-new-folder {
    width: 180px;
    height: 40px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    color: #f4f4f4;
    background: #4f7faf;
    box-shadow: 2px 2px 10px #111111;
    font-size: 15px;
    font-weight: bolder;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    text-align: center;
}
.sidebar-folders-navigation-new-folder:hover {
    background: #6f9fcf;
    cursor: pointer;
}
.sidebar-folders-navigation-new-folder:active {
    background: #2a6db7;
}
.sidebar-folders-navigation-new-folder:focus {
    outline: none;
}
.sidebar-folders-navigation-new-folder-text {
    padding-left: 8px;
    padding-top: 4px;
}
.sidebar-folders-navigation-new-folder-name-container {
    display: flex;
    height: 16px;
}
.sidebar-folders-navigation-new-folder-name {
    height: 20px;
    width: 200px;
    text-align: center;
    caret-color: #111111;
    margin-right: auto;
    margin-left: auto;
    background: #111111;
    color: #f4f4f4;
    font-weight: bolder;
    font-family: sans-serif;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
}
.sidebar-folders-navigation-new-folder-name:focus {
    outline: none;
}
.sidebar-folders-navigation-delete-folder-container {
    display: flex;
}
.sidebar-folders-navigation-delete-folder {
    width: 180px;
    height: 40px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    color: #f4f4f4;
    background: #4f7faf;
    box-shadow: 2px 2px 10px #111111;
    font-size: 15px;
    font-weight: bolder;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    text-align: center;
}
.sidebar-folders-navigation-delete-folder:hover {
    background: #6f9fcf;
    cursor: pointer;
}
.sidebar-folders-navigation-delete-folder:focus {
    outline: none;
}
.sidebar-folders-navigation-delete-folder:active {
    background: #2a6db7;
}
.mailbox-control-panel-delete-button {
    width: 180px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    color: #f4f4f4;
    background: #4f7faf;
    box-shadow: 2px 2px 10px #111111;
    font-size: 15px;
    font-weight: bolder;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    text-align: center;
}
.mailbox-control-panel-delete-button:focus {
    outline: none;
}
.mailbox-control-panel-delete-button:hover {
    background: #6f9fcf;
    cursor: pointer;
}
.mailbox-control-panel-delete-button:active {
    background: #2a6db7;
}